@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*{
	box-sizing:border-box;
	margin: 0;
}

body{
		background-color:#eee;
}

#header{
				position: fixed;
				text-align:center;
				color:black;
				font-size:18pt;
				font-weight:bold;
				font-family: 'Open Sans', ' sans-serif ';
				
				width: 100%;
  z-index:10001;
         
}
#main{
	position: absolute;
	top: 20%;
}

h1{
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	font-family: 'Open Sans Condensed', sans-serif;
	color: gray;
}
ul{
list-style: none;

}
li{
   margin-left: 2px;
   padding:5px;
   border-radius: 5px;
   translate: 1s;
  
}
.logo {
	width: 65vw;
  }

.logo > img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 60px;
  }

  nav > ul {
	width: 35vw;
	display: flex;
	justify-content: space-around;
  }
  a{
	  text-decoration: none;
	  color:gray;
    font-family: 'Open Sans Condensed', sans-serif;
	 
	  font-size: 14pt;
	  font-weight: bold;
	  font-family: 'Open Sans Condensed', sans-serif;
  }
 
li:hover{
	background-color:rgb(231, 196, 37);
}
nav li {
    padding-bottom: 5px;
 
	
  }

#header-img{
	width: 200px;
}

.content{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-items: center;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	margin-block-end: 4%;
	font-size: 18pt;
  font-family: 'Open Sans Condensed', sans-serif;
}
.content1{
	width: 50%;
	align-items: center;
	justify-items: center;
	border: 1px solid gray;
	
}

.btn{
	width: 50%;
	padding: 2%;
	background-color:rgb(231, 196, 37);
	padding: 10px;
	font-size: 12pt;
	font-weight: bold;
font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid gray;
  color:gray;
}
.btn:hover{
	background-color: orange;
}
.content2{
	width: 50%;
	align-items: center;
	justify-items: center;
	
	border: 1px solid gray;
}

.content3{
	width: 50%;
	align-items: center;
	justify-items: center;
	border: 1px solid gray;

}
.iframe{
	display: flex;
	align-items: center;
	justify-content: center;

}

.input-field{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
input[type=email]{
	max-width: 50%;
	padding: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: gray;
	outline: none;
	border: 1px solid gray;
	border-radius: 4px;
}
input[type=submit]{
	
	background-color: rgba(252, 248, 7, 0.8);
	max-width: 50%;
	padding: 5px;
	font-family: 'Bebas';
	font-weight: bold;
	font-size: 18pt;
	color: gray;
	outline: none;
	border: 1px solid gray;
	border-radius: 4px;
}
.features, .pricing, .how-it-works{
	width: 50%;
}
.div-content{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: justify;
	font-size: 18pt;
  font-family: 'Open Sans Condensed', sans-serif;
}
.icon{
	position: absolute;
	color: orange;

	
}

input[type=submit]:hover{
	background-color:orange;
}

@media only screen and (max-width: 962px){
    flex-direction:column;
}
@media only screen and (max-width: 600px){
	
#video{
		width: 550px;
		height: 400px;
	}
  .content {
    flex-direction:column;
  }
}
@media only screen and (max-width: 505px){
	#video{
	width: 450px;
	height: 350px;
	}
  .content {
    flex-direction:column;
  }
}
@media only screen and (max-width: 480px)
  {
    .content {
      flex-direction:column;
    }
    #video {
          width:300px;
          height:200px;
      }
    a{
      font-size:10;
    }
    
    
}
